
 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <title>Components</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>

    </head>
    <body>


    <div class="ui stackable grid container " >

        <div class="four wide column">
            <div class="ui" style="left: 977px; top: -374px; width: 283px !important;!important;">
                <div class="ui vertical following fluid accordion text menu" style="padding-left: 100px;">
                    <div class="item active">
                        <div class="active content menu">
                            <a class="item" href="#m-rating">Rating</a>
                            <a class="item" href="#m-sample-modal">Customizable Modal</a>
                            <a class="item" href="#m-account">Account</a>
                            <a class="item" href="#m-custom-tabs">Tabs</a>
                            <a class="item" href="#m-select">Select</a>
                            <a class="item" href="#m-comments">Comments</a>
                            <a class="item" href="#m-search">Search</a>
                            <a class="item" href="#m-card">Card</a>
                            <a class="item" href="#m-cardAccept">CardAccept</a>
                            <a class="item" href="#m-items">Items</a>
                            <a class="item" href="#m-input">Input</a>
                            <a class="item" href="#m-uploader">File Uploader</a>
                            <a class="item" href="#m-bar">Bar Membership</a>
                        </div>
                    </div>
                </div>
             </div>
        </div>

        <div class="ten wide column">
                <div class="row" style=" padding-bottom: 100px ">
                    <div class="seven wide column">
                        <a class="anchor active" id="m-rating"></a>
                        <h3> Rating </h3>
                        <div id="rating"></div>
                    </div>
                </div>

                <div class="row" style=" padding-bottom: 100px ">
                    <div class="seven wide column">
                        <a class="anchor active" id="m-sample-modal"></a>
                        <h3> Customizable Modal </h3>
                        <div id="sample-modal"></div>
                    </div>
                </div>

                <div class="row" style=" padding-bottom: 100px ">
                    <div class="seven wide column">
                        <a class="anchor active" id="m-account"></a>
                        <h3>Account Menu</h3>
                        <div id="account"></div>
                    </div>
                </div>

                <div class="row" style=" padding-bottom: 100px" >
                    <div class="seven wide column">
                        <a class="anchor active" id="m-custom-tabs"></a>
                        <h3> Customizable Tabs </h3>
                        <div id="custom-tabs"></div>
                    </div>
                </div>

                <!--todo: improve css a bit for select, as currently the dropdown has limited size-->
                <div class="row" style=" padding-bottom: 100px">
                    <div class="seven wide column">
                        <a class="anchor active" id="m-select"></a>
                        <h3> Select </h3>
                        <div id="select"></div>
                     </div>
                 </div>

                <div class="row" style=" padding-bottom: 100px">
                    <div class="seven wide column">
                        <a class="anchor active" id="m-comments"></a>
                        <div id="comments"></div>
                    </div>
                </div>


                <div class="row" style=" padding-bottom: 100px">
                    <div class="seven wide column">
                        <a class="anchor active" id="m-search"></a>
                        <h3>Search</h3>
                        <div id="search"></div>
                    </div>
                </div>

                <div class="row" style=" padding-bottom: 100px">
                    <div class="seven wide column">
                        <a class="anchor active" id="m-card"></a>
                        <h3> Card </h3>
                        <div id="card"></div>
                    </div>
                </div>

                <div class="row" style=" padding-bottom: 100px">
                    <div class="seven wide column">
                        <a class="anchor active" id="m-cardAccept"></a>
                        <h3> CardAccept </h3>
                         <div id="cardAccept"></div>
                    </div>
                </div>

                <div class="row" style=" padding-bottom: 100px">
                    <div class="seven wide column">
                        <a class="anchor active" id="m-items"></a>
                        <h3> Items </h3>
                        <div id="items"></div>
                    </div>
                </div>

                <div class="row" style=" padding-bottom: 100px">
                    <div class="seven wide column">
                        <a class="anchor active" id="m-input"></a>
                        <h3> Input </h3>
                        <div id="input"></div>
                    </div>
                </div>

                <div class="row" style=" padding-bottom: 100px">
                    <div class="twelve wide column">
                        <a class="anchor active" id="m-uploader"></a>
                        <h3> File Upload </h3>
                        <div id="file-upload"></div>
                    </div>
                </div>

                <div class="row" style=" padding-bottom: 100px">
                    <div class="twelve wide column">
                        <a class="anchor active" id="m-bar"></a>
                        <h3> Bar Membership </h3>
                        <div id="bar-membership"></div>
                    </div>
                </div>
            </div>
    </div>

        <script src="./../bundle-index.js"></script>

        </body>

</html>